## Read Txt, CSV and Excel File

In [2]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.read_csv('Data/weather_data_cities.csv')
df1

         day      city  temperature  windspeed   event
0   1/1/2017  new york         32.0        6.0    Rain
1   1/2/2017  new york         36.0        7.0     NaN
2   1/3/2017       NaN          NaN       12.0     NaN
3   1/3/2017       NaN          NaN        NaN     NaN
4   1/1/2017    mumbai         90.0        5.0   Sunny
5   1/2/2017       NaN         85.0       12.0     Fog
6   1/3/2017    mumbai          NaN        NaN     Fog
7   1/4/2017    mumbai         92.0        5.0    Rain
8   1/1/2017       NaN         45.0       20.0     NaN
9   1/2/2017     paris         50.0       13.0  Cloudy
10  1/3/2017     paris          NaN        8.0  Cloudy
11  1/4/2017     paris         42.0       10.0  Cloudy

## Reding Excel File

In [8]:
df2 = pd.read_excel('Data/Data2.xlsx')
df2

    S.no       Date  roll.no      name  total  per
0      1 2020-10-03     1001     kapil    222   95
1      2 2020-11-03     1002     ruchi    234   65
2      3 2020-10-04     1003    shilpi    245   45
3      4 2021-11-03     1004     umesh    345   76
4      5 2020-10-05     1005     vinod    675   89
5      6 2022-11-03     1006     rahul    222   23
6      7 2020-10-06     1007    garima    222   55
7      8 2023-11-03     1008   sankmet    234   44
8      9 2020-10-07     1009  priyanka    222   46
9     10 2024-11-03     1010     umrsh    322   48
10    11 2020-10-08     1011   premila    345   58
11    12 2025-11-03     1012   harshit    345   76

## Reading txt files

In [15]:
df3 = pd.read_csv('Data/GaCo01_01.txt', header=None, delimiter='\t')
df3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.0000,199.10,87.34,91.08,24.09,21.12,87.67,87.23,64.57,163.90,79.86,112.42,50.82,13.75,102.74,144.98,79.53,662.20,748.00
1,0.0100,199.10,87.34,91.08,24.09,21.12,87.67,87.23,64.57,163.90,79.86,112.42,50.82,13.75,102.74,144.98,79.53,662.20,748.00
2,0.0200,199.10,87.34,91.08,24.09,21.12,87.67,87.23,62.59,163.90,79.86,112.42,50.82,13.75,102.74,144.98,79.53,660.22,748.00
3,0.0300,199.10,87.34,91.08,24.09,21.12,87.67,89.10,64.57,163.90,77.55,112.42,48.07,13.75,105.49,144.98,79.53,664.07,745.69
4,0.0400,199.10,87.34,91.08,24.09,21.12,87.67,87.23,62.59,163.90,77.55,112.42,50.82,13.75,105.49,144.98,79.53,660.22,748.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12114,121.1315,305.91,85.14,58.08,0.00,0.00,0.00,0.00,0.00,15.73,11.66,4.73,33.88,33.00,255.42,432.19,147.29,449.13,933.90
12115,121.1415,331.54,134.75,79.31,11.99,0.00,3.85,0.00,0.00,15.73,9.35,4.73,11.22,24.75,230.34,420.42,151.80,561.44,868.34
12116,121.1515,352.44,181.94,102.96,39.60,0.00,17.49,2.97,0.00,13.97,9.35,4.73,5.61,19.25,192.39,402.82,154.00,697.40,802.12
12117,121.1615,352.44,202.40,124.74,43.01,8.47,50.71,7.59,0.00,13.97,6.93,0.00,0.00,13.75,143.66,373.34,151.80,789.36,703.45
12118,121.1715,347.27,206.91,134.64,43.01,16.94,69.74,28.93,0.00,12.21,6.93,0.00,0.00,13.75,97.35,331.98,147.29,847.44,609.51

## Load Dataset of CSV Format

In [18]:
dset1 = pd.read_csv('Data/student-scores.csv')
dset1

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

## Load Dataset of Excel File

In [25]:
dset2 = pd.read_excel('Data/2010.xlsx')
dset2

,Application Number,Title,Application Date,Status,Publication Number,Publication Date(U/S 11A),Publication Type,Application Filing Date,Priority Number,Priority Country,...,PARENT APPLICATION NUMBER,PARENT APPLICATION FILING DATE,REQUEST FOR EXAMINATION DATE,FIRST EXAMINATION REPORT DATE,Date Of Certificate Issue,POST GRANT JOURNAL DATE,REPLY TO FER DATE,PCT INTERNATIONAL APPLICATION NUMBER,PCT INTERNATIONAL FILING DATE,Application Status
0,2/CHE/2010,NOVEL SOLID STATE FORMS OF RACEMIC ROTIGOTINE ...,01/01/2010,Published,21/2012,25/05/2012,INA,01/01/2010,NaN,NaN,...,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,Deemed to be withdrawn u/s 11B(4)
1,2430/MUMNP/2009,"THE APPLICATION OF 5-METHYL-1,3-BENZENEDIOL OR...",01/01/2010,Published,08/2014,21/02/2014,INA,01/01/2010,China200710066088.7,China,...,NaN,NaN,04/01/2010,NaN,NaN,NaN,17/06/2015,PCT/CN2008/071752,25/07/2008,Application Refused U/S 15
2,1/DELNP/2010,"""METHOD FOR PRODUCING FENOFIBRATE""",01/01/2010,Published,30/2010,23/07/2010,INA,01/01/2010,FranceFR 0704996,France,...,NaN,NaN,--,NaN,NaN,NaN,NaN,PCT/FR2008/000972,07/07/2008,Deemed to be withdrawn u/s 11B(4)
3,2/DELNP/2010,MONITORING OF BLADE FREQUENCIES OF A WIND TURBINE,01/01/2010,Published,30/2010,23/07/2010,INA,01/01/2010,Denmark200701144,Denmark,...,NaN,NaN,01/01/2010,NaN,NaN,NaN,NaN,PCT/EP2008/060385,07/08/2008,Abandoned U/s 21(1)
4,2/MUMNP/2010,"TRANSMISSION UNIT, PARTICULARLY MULTI-RANGE TR...",01/01/2010,Published,32/2010,06/08/2010,INA,01/01/2010,Germany102007028883.4,Germany,...,NaN,NaN,24/05/2010,NaN,NaN,NaN,NaN,PCT/EP2008/004765,13/06/2008,Abandoned U/s 21(1)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35829,5068/KOLNP/2010,POUCH PACK HAVING A PRESSURE OUTLET,31/12/2010,Published,09/2011,04/03/2011,INA,31/12/2010,Republic of Korea10-2008-0052119,Republic of Korea,...,NaN,NaN,03/01/2011,NaN,NaN,NaN,NaN,PCT/KR2009/002943,03/06/2009,Abandoned U/s 21(1)
35830,5070/KOLNP/2010,"METHOD, DEVICE, AND SYSTEM FOR CALL HANDOVER A...",31/12/2010,Published,09/2011,04/03/2011,INA,31/12/2010,China200810109387.9,China,...,NaN,NaN,03/01/2011,NaN,NaN,NaN,NaN,PCT/CN2009/072172,08/06/2009,Abandoned U/s 21(1)
35831,5069/KOLNP/2010,ORGANIZER FOR RELEASABLY ACCOMMODATING COMPONE...,31/12/2010,Published,09/2011,04/03/2011,INA,31/12/2010,Germany102008026916.6,Germany,...,NaN,NaN,01/06/2012,31/01/2018,27/03/2019,29/03/2019,07/09/2018,PCT/EP2009/004010,04/06/2009,"Granted Application, Patent Number :310149"
35832,8669/CHENP/2010,INTER-CELL INTERFERENCE CANCELLATION FRAMEWORK,31/12/2010,Published,37/2011,16/09/2011,INA,31/12/2010,"U.S.A.12/437,342",U.S.A.,...,NaN,NaN,10/01/2011,29/09/2016,26/02/2019,01/03/2019,27/03/2017,PCT/US2009/045195,26/05/2009,"Granted Application, Patent Number :308067"
35833,8670/CHENP/2010,USAGE OF DEDICATED REFERENCE SIGNAL FOR SUPPOR...,31/12/2010,Published,37/2011,16/09/2011,INA,31/12/2010,"U.S.A.12/508,026",U.S.A.,...,NaN,NaN,12/01/2011,12/09/2016,31/01/2018,02/02/2018,09/03/2017,PCT/US2009/052513,31/07/2009,"Granted Application, Patent Number :292372"